<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена профиля</title>
    <link href="{% static "css/profile.css" %}" rel="stylesheet" type="text/css">
</head>
<script src="{% static "js/scrollbars.js" %}"></script>
<script src="{% static "js/colors.js" %}"></script>
<script src="{% static 'js/password_strength.js' %}"></script>
<script src="{% static "js/check_queue.js" %}"></script>
<script src="{% static "js/ping.js" %}"></script>
<body onload="init_check_queue(0); init_ping(); init('new_password', 'changePWForm');">
  <section id="main">
    {% if error %}
      <div class="colored_block orange opaque" color_const>
          {{error}}
      </div>
    {% endif %}
    {% if user_error %}
      <div class="colored_block red" color_const>
          {{user_error}}
      </div>
    {% endif %}
    {% if info %}
      <div class="colored_block green" color_const>
          {{info}}
      </div>
    {% endif %}
      <div class="colored_block cyan" id="profile-edit-block" style="margin-top: 10px;">
        <h2>Смена пароля</h2>
        <form id="changePWForm" method="post" action="{% url 'profile-update' 'auth' %}">
          {% csrf_token %}
          <label for="old_password">Текущий пароль: </label>
          <input type="password" name="old_password" id="old_password" value="{{ old_password }}"><br>

          <label for="new_password">Новый пароль: </label>
          <input type="password" name="new_password" id="new_password" value="{{ new_password }}">
          <br><br>
          <div class="colored_block cyan" style="text-align: left; padding: 10px;">
              Минимальные требования к паролю:
              <ul>
                  <li>он должен состоять из 8 и более символов;</li>
                  <li>он должен содержать в себе буквы и цифры.</li>
              </ul>
              Рекомендуемые требования:
              <ul>
                  <li>он должен состоять из 16 и более символов;</li>
                  <li>он должен содержать в себе:
                      <ul>
                          <li>заглавные буквы;</li>
                          <li>строчные буквы;</li>
                          <li>цифры;</li>
                          <li>спецсимволы.</li>
                      </ul>
                  </li>
                  <li>пароль не должен совпадать с какими-либо паролями, используемыми Вами на других сайтах;</li>
                  <li>пароль не должен нести в себе какую-либо личную информацию.</li>
              </ul>
          </div>
          <br><br>
          <label for="new_password_repeat">Повторите пароль: </label>
          <input type="password" name="new_password_repeat" id="new_password_repeat" value="{{ new_password_repeat }}"><br>

          <button type="submit">Сохранить</button>
        </form>
      </div>
  </section>
  {% include "footer_template.html" with link=about_link back_link=back_link %}
</body>
<script>
    setScrollBar("main", "profile-edit-block");
</script>
{% include 'theme_changer.html' with preferredTheme=preferredTheme %}
</html>