<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заданий в группе {{ groupname }}</title>
    <link href="{% static "css/tasks.css" %}" rel="stylesheet" type="text/css">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static "js/scrollbars.js" %}"></script>
<script src="{% static "js/colors.js" %}"></script>

<script src="{% static "js/check_queue.js" %}"></script>
<script src="{% static "js/ping.js" %}"></script>
<body onload="init_check_queue(0); init_ping();">
  <section id="main">
    <div id="container">
        {% if info %}
          <div class="colored_block green">
            {{info}}
          </div>
        {% endif %}
        <div class="colored_block cyan">
          <h2>Список заданий в группе {{ groupname }}</h2>
            <p>
          {% if tasks %}
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th style="width: 20%;">Предмет</th>
                <th>Название</th>
                <th>Исполнитель</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
            </thead>
            <tbody id="taskBody">

            </tbody>
          </table>
          <script>
            var users = {}, user = {};

            {% for user in users %}
            user = {};
            user["name"] = "{{ user.name }}";
            {% if user.image %}
            user["image"] = "{{ user.image }}";
            {% else %}
            user["image"] = null;
            {% endif %}
            users[{{ user.id }}] = user;
            {% endfor %}

            var subjects = {};

            {% for subject in subjects %}
            subjects[{{subject.id}}] = "{{subject.name}}";
            {% endfor %}

            var states = {};
            states[0] = "Не выполнено";
            states[1] = "Выполнено";

            function fetchTasks() {
                $.ajax({
                    url: '{% url "tasks-list-rtu-all" group_id %}', // Используйте имя URL из urls.py
                    method: 'GET',
                    success: function(data) {
                        $('#taskBody').empty(); // Очищаем текущее содержимое таблицы
                        data.forEach(function(task) {
                          var user = users[task.user_id];
                          var user_col = "Свободно";

                          if (user !== undefined) {
                            var image_path = user["image"];
                            if (image_path == null) {
                                image_path = "{% static 'media/img/profile-default.png'%}";
                            }
                            var username = user.name;

                            user_col = "<div class='name_and_image'>\
                                            <img class='user_photo' src=" + image_path + ">\
                                            <p>" + username + "</p>\
                                        </div>";
                          }

                          var state = states[task.state];
                          var update_url = "/tasks/task-update/" + task.id;
                          var delete_url = "/tasks/task-delete/" + task.id;

                          var row = "<tr>" +
                                        "<td>" + task.id + "</td>" +
                                        "<td>" + subjects[task.subject_id] + "</td>" +
                                        "<td>" + task.taskName + "</td>" +
                                        "<td>" + user_col + "</td>" +
                                        "<td>" + states[task.state] + "</td>" +
                                        "<td>" +
                                            "<a href=" + update_url + "><button>Редактировать</button></a>" +
                                            "<a href=" + delete_url + "><button>Удалить</button></a>" +
                                        "</td>" +
                                    "</tr>";
                          $('#taskBody').append(row);
                        });
                        setScrollBarMultiple("main", ["container"]);
                    },
                    error: function(xhr) {
                        console.error('Ошибка при получении задач:', xhr);
                    }
                });
            }

            // Запрашиваем задачи каждые 2 секунды
            setInterval(fetchTasks, 2000);
            // Первый вызов для загрузки данных сразу после загрузки страницы
            fetchTasks();
          </script>
          {% else %}
          В вашей группе сейчас нет ни одного задания.
          {% endif %}
            </p>
          <a href="{% url 'task-create' %}"><button>Добавить задание</button></a>
          <a href="{% url 'task-delete' 0 %}"><button>Удалить все выполненные задания</button></a>
        </div>
    </div>
  </section>
  {% include "footer_template.html" with link=about_link back_link=back_link %}
</body>
{% include 'theme_changer.html' with preferredTheme=preferredTheme %}
<script>
    setScrollBarMultiple("main", ["container"]);
</script>
</html>