@import url("common.css");
@import url("colored_blocks.css");
@import url("icons.css");

div.name_and_image {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}

img.user_photo {
    width: 64px;
    height: 64px;
    border-radius: 25%;
}

th, td {
    text-align: center;
}

div.footer {
    width: calc(100% + 20px);
    border-radius: 0px !important;
    position: fixed;
    height: 4em;
    bottom: 0px;
    left: -10px;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}